@media only screen and (max-width : 2500px) {
	.page-wrapper{
		overflow:hidden;
	}
	
}
@media screen and (min-width:1200px) and (max-width:1399px) {
	.atf-single-details .title {
		font-size: 45px;
	}
}
@media screen and (min-width:768px) and (max-width:1024px) {
	.atf-single-details .title {
		font-size: 36px;
	}
	.atf-single-details .title {
		font-size: 45px;
		letter-spacing:0;
	}
	.atf-single-details br,
	.atf-section-title br{
		display:none;
	}
}
@media only screen and (max-width : 991px) {
	.atf-hero-area {
		height: 950px;
	}
	.atf-single-details br {
		display: none;
	}
	.atf-single-details .title {
		font-size: 36px;
		letter-spacing:0;
	}
}
@media only screen and (max-width : 768px) {
	.atf_hero-thumb .waves-box {
		right: -5%;
		top: 20%;
	}
}
@media only screen and (max-width: 767px) {
	.atf_hero-thumb{
		margin-top:40px;
	}
	.atf-portfolio-area .atf-section-title{
		margin-bottom: 40px;
	}
	.atf-portfolio-nav {
		display: flex;
		margin-bottom: 40px;
		justify-content:center;
	}
	.atf-single-portfolio figure .atf-image-box {
		margin: 10px 0;
	}
	.atf_hero-thumb .waves-box {
		right:-3%;
		top: 15%;
	}

}

@media only screen  and (max-width: 576px) {
	.atf-section-title br{
		display:none;
	}
	#portfolio .atf-portfolio-nav .nav li {
		font-size: 16px;
		margin-right: 3px;
	}
	.atf_hero-thumb .waves-box {
		right: -4%;
		top: 18%;
	}
}
@media only screen  and (max-width: 479px) {
	#portfolio .atf-portfolio-nav .nav li {
		font-size: 14px;
		margin-right: 1px;
	}
}
@media screen and (min-width: 0px) and (max-width: 320px)  {
	.atf_hero-thumb .waves-box {
		right: -4%;
		top: 18%;
	}

}